body{
    font-family: 'Montserrat', sans-serif;
}

#title{
    background-color: #ff4c68;
    color:#fff;
}

.container-fluid{
    padding: 3% 15%;
    font-size:3rem;
    line-height: 1.5;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    
}

h2{
    font-family: 'Montserrat', sans-serif;

}

/************* NAVIGATION BAR ****************/

.navbar{
    padding:0 0 4.5rem;
}

.nav-item{
    padding:0 18px;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size:1.2rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size:2.5rem;
    font-weight: bold;
}

/************* BUTTON DOWNLOAD ****************/

.download-button{
    margin:5% 3% 5% 0;
}

/************* TITLE IMAGE ****************/

.title-image{
    width: 60%;
    transform:rotate(25deg);
}

/************* FEATURES ****************/
#features{
    text-align: center;
    margin:10% 0;
   
}

#features i{
    color:#ef8172;
    font-size: 5rem;
    margin:10% 0;
}

#features i:hover{
    color:#ff4c68;
    
}

#features h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

#features p{
    color:#8f8f8f;
}

/************* TESTIMONIAL SECTION ****************/

#testimonials{

text-align: center;
background-color:#ef8172;
color:#fff;
}

.testimonial-image{
    width: 10%;
    border-radius:100%;
    margin:20px;
}

.carousel-item{
    padding:7% 15%;
}

#press{
    background-color: #ef8172;
    text-align:center;
    padding-bottom:3%;
}

.press-logo{
    width:15%;
    margin:20px 20px 50px;

}

/************* PRICING SECTION ****************/

#pricing{
    padding:100px;
    text-align: center;
}


.pricing-column{
padding: 3% 2%;

}


/************* Z-INDEX ****************/

.red{
    background-color: red;
    height:100px;
    width:100px;
    border:1px solid;
    position: absolute;
    left:0px;
    top:0px;
    z-index:2;
}

.yellow{
    background-color: yellow;
    height:100px;
    width:100px;
    border:1px solid;
    position: absolute;
    left: 20px;
   top: 20px;
   z-index:1
}

.blue{
    background-color: blue;
    height:100px;
    width:100px;
    border:1px solid;
    position: absolute;
    left: 40px;
    top: 40px;
    z-index:0;
}
